<%- include('../partials/head')-%>
    <%- include('../partials/nav')-%>

        <ul id="alphabetLinks"></ul>


        <div class="herb-page-container">
            <h1>Herbal Catalog</h1>
            <br><br>
            <div class=" herb-products">
                <% if(data.length){ for(let i=0; i< data.length; i++) {%>
                    <img src="./images/<%= data[i].image%>">
                    <h2>
                        <%= data[i].plantName%>
                    </h2>
                    <h3>Benefits:</h3>
                    <p>
                        <%= data[i].benefits%>
                    </p>
                    <a href="<%= data[i].url%>" target="_blank">Purchase here</a>
                    <% } }else{ %>
                        <div>No plants</div>
                        <% } %>
            </div>


            <%- include('../partials/footer')-%>