<%- include('../partials/head')-%>
    <%- include('../partials/nav')-%>
    
    <div class="herb-page-container">
    <div class=" herb-banner">
    <img src="/images/herbal-top-image.jpg">

    <h1 class="herb-banner-overlay">Herbs and Spices </h1>
    </div>


<br><br>

            <br><br>
            <div class=" herb-products">
                <% if(data.length){ for(let i=0; i< data.length; i++) {%>
                   <div class="plant-image">
                    <img src="<%= data[i].image%>"></div>
                   <div class="plant-name"><h2>
                        <%= data[i].plantName%>
                    </h2></div> 
                    <div class="plant-benefits">
                    <h3>Benefits:</h3>
                    <p>
                        <%= data[i].benefits%>
                    </p>
                </div>
                    <button>
                    <a href="<%= data[i].url%>" target="_blank">Purchase here</a> </button>
                    <% } }else{ %>
                        <div>No plants</div>
                        <% } %>
                        
                        
                      
                       
            </div>
            <br> <a href="/admin" id="create-btn">Add a New Herb </a><br><br>

            <%- include('../partials/footer')-%>